/* >>>>> NOTE <<<<<
This styles sheet is used for ContactList.tsx & SkeletonContactList.tsx to ensure that the loading placeholders look the same as the contact cards */

.top-navbar {
    background-color: #f50057 !important;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px !important;
}

.mobile-devices-nav-menu {
    display: none !important;
}

/* Nav drawer styling */
.left-navigation-drawer,
.MuiDrawer-paper {
    margin-top: 120px;
    margin-left: 22rem;
    border: none !important;
}

/* Page heading */
.nav-drawer-menu-heading {
    color: #f50057;
    padding: 15px 15px;
}

/* List container */
.contact-list-container {
    margin-top: 153px !important;
}

/* List item */
.contact-list-item {
    padding: 1px 0 !important;
    margin-bottom: 3px;
    border-bottom: 1px rgba(219, 219, 219, 0.527) solid;
}

/* Contact name styling */
.contact-name-text {
    color: #f50057;
    font-weight: 500 !important;
}

/* Location icon and text flex container */
.location-flex-container {
    display: flex;
}

/* Conditional styling to highlight a selected contact */
.selected-contact {
    background: #cecece73;
}


/* >>>>> BELOW CODE APPLIES ONLY TO SkeletonContactList.tsx <<<<< */
.skeleton-contact-list-backdrop {
    position: relative;
    margin: 0;
    padding: 0;
}

/* Pseudo element used to cover image */
.skeleton-contact-list-backdrop::after {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    opacity: 1;
    z-index: 1;
}

/* END OF SkeletonContactList.tsx CODE */

@media (max-width: 1366px) {

    /* Nav drawer styling */
    .left-navigation-drawer,
    .MuiDrawer-paper {
        margin-left: 9rem;
    }
}


@media (max-width: 1064px) {

    /* Nav drawer styling */
    .left-navigation-drawer,
    .MuiDrawer-paper {
        margin-left: 3rem;
    }

}

@media (max-width: 768px) {

    /* Nav drawer styling */
    .left-navigation-drawer,
    .MuiDrawer-paper {
        margin-left: 0.5rem;
        width: 265px !important;

}

@media (max-width: 640px) {

    .top-navbar {
            box-shadow: none !important;
            border-bottom: 1px solid rgb(224, 224, 224);
        }
    
        .mobile-devices-nav-menu {
            display: block !important;
        }
    
        .left-navigation-drawer {
            display: none;
        }
    
        .contact-list-container {
            margin: 0 auto !important;
            margin-top: 200px !important;
        }

}

@media (max-width: 480px) {
    .top-navbar {
        box-shadow: none !important;
        border-bottom: 1px solid rgb(224, 224, 224);
    }

    .mobile-devices-nav-menu {
        display: block !important;
    }

    .left-navigation-drawer {
        display: none;
    }

    .contact-list-container {
        margin-top: 200px !important;
    }
}
}