/* Display navbar */
.mobile-navbar-visibility {
    display: none;
}

/* Nav drawer styling */
.left-navigation-drawer,
.MuiDrawer-paper {
    margin-top: 120px;
    margin-left: 22rem;
    border: none !important;
}

/* Page heading */
.nav-drawer-menu-heading {
    color: #f50057;
    padding: 15px 15px;
}

/* List container */
.contact-list-container {
    margin-top: 153px !important;
}

/* List item */
.contact-list-item {
    padding: 1px 0 !important;
    margin-bottom: 3px;
    border-bottom: 1px rgba(219, 219, 219, 0.527) solid;
}

/* Contact name styling */
.contact-name-text {
    color: #f50057;
    font-weight: 500 !important;
}

/* Location icon and text flex container */
.location-flex-container {
    display: flex;
}

/* Conditional styling to highlight a selected contact */
.selected-contact {
    background: #cecece73;
}

/* Load more button container */
.load-more-button-container {
    display: flex;
    justify-content: start;
}

/* Load more button */
.load-more-button {
    margin-bottom: 30px !important;
    margin-top: 7px !important;
    width: 90%;
    max-width: 490px;
}

/* MEDIA QUERIES */

@media (max-width: 1366px) {

    .left-navigation-drawer,
    .MuiDrawer-paper {
        margin-left: 9rem;
    }
}


@media (max-width: 1064px) {

    .left-navigation-drawer,
    .MuiDrawer-paper {
        margin-left: 3rem;
    }

}

@media (max-width: 768px) {

    .left-navigation-drawer,
    .MuiDrawer-paper {
        margin-left: 0.5rem;
        width: 265px !important;

    }

}

@media (max-width: 640px) {

    .mobile-navbar-visibility {
        display: block;
    }

    .left-navigation-drawer {
        display: none;
    }

    .contact-list-container {
        margin: 0 auto !important;
        margin-top: 72px !important;
    }

    .load-more-button-container {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 480px) {

    .contact-list-padding-wrapper {
        padding: 0 !important;
    }

    .contact-list-item {
        padding: 0 !important;
        margin: 0px !important;
    }

    .left-navigation-drawer {
        display: none;
    }

}