/* Contact title */
.contact-view-title {
    font-size: 15px;
    margin: 0.4rem 0;
    margin-bottom: 1rem;
}

/* Contact subtitle */
.contact-view-subtitle {
    font-size: 32px;
    color: #f50057;
    font-weight: 300;
    margin: 0.5rem 0;
}

/* Location flex container */
.contact-view-location-flex-container {
    display: flex;
    justify-content: center;
    margin-left: -40px;
}

/* Card divider */
.contact-view-divider {
    border-bottom: 2px #fff solid;
    width: 24px;
    margin: 0.5rem auto;
    border-radius: 2px;
}

/* Card body */
.contact-view-text-body {
    font-size: 15px;
    color: #f50057;
    line-height: 1.75;
    margin: 0 auto;
    width: 88%;
}

/* Dialog actions */
.dialog-actions-container{
    background-color: #fff !important;
    box-shadow: none !important;
    border: none !important;
}

/* Dialog border-radius */
.dialog-view {
    border-radius: 12px !important;
}

/* Card border radius override */
.css-1qsomb9-MuiPaper-root-MuiCard-root {
    border-radius: 0 !important;
}

/* Dialog border-radius override */
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    border-radius: 20px !important;
}

/* Card content padding override */
.css-102cj0y-MuiCardContent-root:last-child {
    padding-bottom: 0 !important;
}

