/* List container */
.contact-list-container {
    margin-top: 153px !important;
}

/* List item */
.contact-list-item {
    padding: 1px 0 !important;
    margin-bottom: 3px;
    border-bottom: 1px rgba(219, 219, 219, 0.527) solid;
}

/* Contact name styling */
.contact-name-text {
    color: #f50057;
    font-weight: 500 !important;
}

/* Location icon and text flex container */
.location-flex-container {
    display: flex;
}

/* Conditional styling to highlight a selected contact */
.selected-contact {
    background: #cecece73;
}

/* MEDIA QUERIES */

@media (max-width: 640px) {

    .view-selected-contacts-title {
        text-align: start !important;
    }

    .contact-list-container {
        margin: 0 auto !important;
        margin-top: 72px !important;
    }

}

@media (max-width: 480px) {

    .view-selected-contacts-title {
        font-size: 1.75rem !important;
    }

    .contact-list-padding-wrapper {
        padding: 0 !important;
    }

    .contact-list-item {
        padding: 0 !important;
        margin: 0px !important;
    }

    .left-navigation-drawer {
        display: none;
    }

}